{% load widget_tweaks %}
<div class="col-sm-8">
    
    <!-- Shop options -->
    <div class="clearfix mb-40">
                
        <div class="right">
            <form method="get" class="form">
                <button class="" type="submit" style="padding:0px; border:0px;">
                    {{ filter.form.order|add_class:"form-control input-sm" }}
                </button>
            </form>
        </div>
        
    </div>
    <!-- End Shop options -->
    
    <div class="row multi-columns-row">

        {% if products %}

            {% for product in products %}

            <div class="col-md-4 col-lg-4 mb-60 mb-xs-40">
                
                <div class="post-prev-img">
                    
                    <a href="{% url 'product_detail' pk=product.pk %}"><img src="{{ product.home_image_single.image.url }}" alt="" /></a>
                    
                    {% if product.for_sale %}
                        <div class="intro-label">
                            <span class="label label-danger bg-red">Promocion</span>
                        </div>
                    {% endif %}
                    
                </div>
                
                <div class="post-prev-title font-alt align-center">
                    <a href="{% url 'product_detail' pk=product.pk %}">{{ product.name }}</a>
                </div>

                <div class="post-prev-text align-center">
                    <!--<del>$150.00</del>
                    &nbsp;-->
                    <strong>$ {{ product.price }}</strong>
                </div>
                
                <div class="post-prev-more align-center">
                    <a href="{% url 'product_detail' pk=product.pk %}" class="btn btn-mod btn-gray btn-round"><i class="fa fa-shopping-cart"></i> Mas detalle </a>
                </div>
                
            </div>

            {% endfor %}

        {% else %}

        {% endif %}

        
    </div>
    
    {% include "other/paginator.html" %}
    
</div>
