{% load staticfiles %}
<!-- About Section -->
<section class="page-section" id="about">
    <div class="container relative">
        
        <h2 class="section-title font-alt align-left mb-70 mb-sm-40">
            Nosotras
        </h2>
        
        <div class="section-text mb-50 mb-sm-20">
            <div class="row">
            
                <div class="col-sm-4 mb-xs-30 wow fadeInUp">
                    <div class="team-item">
                        
                        <div class="team-item-image">
                            
                            <img src="{% static "img/us.jpg" %}" alt="" />
                            
                            <div class="team-item-detail">
                                
                                <h4 class="font-alt normal">Lu & Jean!</h4>
                                
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&nbsp;iaculis diam. 
                                </p>
                                
                                <div class="team-social-links">
                                    <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                                </div>
                                
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-4">
                    <blockquote>
                        <p>
                        Diseño de accesorios artesanales.
                        </p>
                        <footer>
                            Lu & Jean
                        </footer>
                    </blockquote>
                </div>
                
                <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                    Somos una marca de accesorios artesanales y de diseño. Buscamos la felicidad y comodidad del cliente. <br><br>
                    Ante cualquier consulta no duden en escribirnos!
                </div>
                
            </div>
        </div>
        
    </div>
</section>
<!-- End About Section -->
