{% if gender_banners %}
    {% for gender_banner in gender_banners %}
        <!-- Section -->
        <section class="page-section fixed-height-small pt-0 pb-0 bg-dark-alfa-30" data-background="{{ gender_banner.M.image.url }}">
            <div class="js-height-parent container relative">
                
                <div class="home-content">
                    <div class="home-text">

                        
                        <h2 class="hs-line-14 font-alt mb-50 mb-xs-30">
                            {{ gender_banner.M.title }}
                        </h2>
                        
                    {% if gender_banner.M.link %}
                        <h2 class="hs-line-10">
                            <a href="{{ gender_banner.M.link }}" class="btn btn-mod btn-border-w btn-medium btn-round">{{ gender_banner.M.text }}</a>
                        </h2>
                    {% else %}
                        <h2 class="hs-line-4">
                            {{ gender_banner.M.text }}
                        </h2>
                    {% endif %}
                    </div>
                </div>
                
            </div>
        </section>
        <!-- End Section -->
    {% endfor %}
{% endif %}
