{% extends "layout/layout.html" %}
{% load staticfiles %}
{% block page_title %}Inicio{% endblock %}

{% block site_content %}

    {% include "home/main_banner.html" %}
    <hr class="mt-0 mb-0 "/>
    {% include "home/about_us.html" %}
    <hr class="mt-0 mb-0 "/>
    {% include "home/gender_product.html" %}
    <hr class="mt-0 mb-0 "/>
    {% include "home/products.html" %}
    <hr class="mt-0 mb-0 "/>
    {% include "home/testimonials.html" %}
    <hr class="mt-0 mb-0 "/>
    {% include "home/contact.html" %}
    <hr class="mt-0 mb-0 "/>

{% endblock site_content %}
