<!-- Portfolio Section -->
<section class="page-section pb-0" id="portfolio">
    <div class="relative">
        
        <h2 class="section-title font-alt mb-70 mb-sm-40">
            Productos
        </h2>
        
        <!-- Works Grid -->
        <ul class="works-grid work-grid-3 work-grid-gut clearfix font-alt hover-white hide-titles" id="work-grid">

            {% for product in product_outstanding %}
            
                <!-- Work Item (Lightbox) -->
                <li class="work-item mix photography">
                    <a href="{% url 'product_detail' pk=product.pk %}">
                        <div class="work-img">
                            <img src="{{ product.home_image_mobile.image.url }}" alt="Work" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title">{{ product.name }}</h3>
                            <div class="work-descr">
                                {{ product.price }}
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item -->

            {% endfor %}

        </ul>
        <!-- End Works Grid -->

        <div class="section-title mb-70 mb-sm-40">
            <a href="{% url "products" %}" class="btn btn-mod btn-border btn-circle btn-medium">Ver mas productos</a>
        </div>
        
    </div>
</section>
<!-- End Portfolio Section -->
