{% if testimonials_banners %}

    <!-- Testimonials Section -->
    <section class="page-section bg-dark bg-dark-alfa-90 fullwidth-slider" data-background="{{ testimonial_background.M.image.url }}">
        
    {% for testimonials_banner in testimonials_banners %}

        <!-- Slide Item -->
        <div>
            <div class="container relative">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 align-center">
                        <!-- Section Icon -->
                        <div class="section-icon">
                            <span class="icon-quote"></span>
                        </div>
                        <!-- Section Title -->
                        <h3 class="small-title font-alt">{{ testimonials_banner.M.title }}</h3>
                        <blockquote class="testimonial white">
                            {% if testimonials_banner.M.link %}
                                <a href="{{ testimonials_banner.M.link }}" target="_blank">{{ testimonials_banner.M.text }}</a>
                            {% else %}
                                <p>{{ testimonials_banner.M.text }}</p>
                            {% endif %}
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Slide Item -->

    {% endfor %}
        
    </section>
    <!-- End Testimonials Section -->
{% endif %}
